/* ========== GENERALES ==========*/

a:hover {
	text-decoration: none;
}

p {
	color:#333;
}

h1 {
	margin:0;
	color:#2EB5D7;
}

h2 {
	font-size: 24px;
}

.fa-bed {
	font-size: 15px;
}

/* ========== NAV BAR ==========*/

.navbar {
	margin-bottom: 20px;
}

.menuPrincipal li {
	float:none;
	display:inline-block;
}

.menuPrincipal li:hover {
	background-color: #A6DDEA;
}

.navbar-default { 
background-color: white;
border:none; }

.navbar-brand {
	padding-top:5px;
	padding-right: 50px; 
}


/* ========== PRODUCTO ==========*/

.titular {
	text-align: center;
	padding: 10px 0;
}

.producto {
	text-align: center;
	margin-bottom: 10px;
}

.producto:hover {
	opacity:0.7;
}


.producto img {
	width: 100%;
	height: auto;
}


.DescProd {
	margin: 15px -15px;
	text-align: center;
}

.destacar {
	background-color: #E3854D;
	padding:5px;
	font-weight: bold;
	color: white;
	border-radius: 5px;
}

span.precio {
		font-weight: bold;
		color: #E3854D;
		font-size: 1.5em;
}

/* ========== BOTONES ========== */

.videobtn {
	background-color: white;
	border-color:#ddd;
	color:#333;
}

.videobtn:hover {
	background-color:white;
	border-color:#ddd;
	color:#333;
}

.btnVerMas {
	border-color:#333;
	background-color: #333;
	margin-top:10px;
}

.btnVerMas:hover {
	border-color:#333;
	background-color: #333;
}


/*
.descbtn {
	outline: none !important;
	background-color: #333;
}


.descbtn:hover {
	background-color: #333;
	border-color:#333;
}

button .collapse {
	background-color: rgb(51, 122, 138);
}

*/



.DescProdCaja {
	padding:15px
}
.DescProdCaja img{
	height:auto;
	width:100%
}
.colapsable {
	padding-bottom: 20px;
	text-align: justify;
}

.backgroundCaja {
	background-color:#e8e8e8;
	padding:15px;
	
}


/* ========== VIDEO ==========*/

.videos {
	text-align: center;
}

.jumbotron {
	margin-bottom: 0;
	background-image: url(../img/video.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

/* ========== FOOTER ==========*/

.footer {
	background-color: #333;
	color:white;
	font-size: 1em;
	padding:20px 0;
	text-align: center;
}

p.footer {
	text-transform: uppercase;
	padding:25px;
	text-align: justify;
}


/* ========== MEDIAQUERY ==========*/

@media (max-width: 690px) {
	.menuPrincipal li.noSocial {
		width:100%;
		text-align:center;
	}
}